<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Writing Stories Is Fun!</title>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

        <script src="https://code.jquery.com/jquery.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="\assets\js\clickyLogic.js"></script>
		<link rel="stylesheet" href="\assets\css\style.css">
	</head>
	<body>
		<div class='main-wrapper'>
			<header class="text-center">
				<nav class="navbar navbar-default navbar-fixed-top">
					<h1>Writing Academy!</h1>
					{{!-- <h4>Read,</h4> <h3>Write,</h3> <h2>Compete!</h2> --}}
					{{!-- link to oauth route... --}}
					{{!-- <a href="../../routes/provider">Log In</a>   --}}
				</nav>
			</header>

			
			{{{ body }}}
		

			<footer class="text-center">
				<h1>&copy; Cheeky Monkey LLC</h1>
			</footer>
		</div> 
	</body>
</html>
