<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Writing Stories Is Fun!</title>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <script src="https://code.jquery.com/jquery.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

        <script type="text/javascript" src="\assets\js\clickyLogic.js"></script>
		<link rel="stylesheet" type="text/css" href="\assets\css\style.css">
	</head>
	<body>
		<div class='main-wrapper'>
			<header class="text-center">
				<container class="navbar navbar-default navbar-fixed-top">
					<a class="navbar-brand" href="/">
            			<img src="http://wikiclipart.com/wp-content/uploads/2017/04/Write-writing-conclusion-clipart.png" width="25" />
       				 </a>
					<div>
						<a href="/viewStories" class="btn btn-primary navbar-btn">View All Stories</a>
						{{!-- <a href="/writeStory" class="btn btn-primary navbar-btn">Write Story</a> --}}
						{{!-- <a href="/readStory" class="btn btn-primary navbar-btn">Read A Story</a> --}}
						{{!-- <a href="/voteLines" class="btn btn-primary navbar-btn">Vote</a> --}}
						{{!-- <a href="" class="btn btn-primary navbar-btn">Compete</a> --}}
						<a href="/" class="btn btn-primary navbar-btn">Writing Academy!</a>

						<form class="navbar-form navbar-left">
							<div class="form-group">
								<input type="text" class="form-control" id="genreSearchInput" placeholder="Search Stories By Genre" name="name">
							</div>
							<button type="submit" id="genreButton" class="btn btn-default">Search</button>
						</form>

						<a href="/login" class="btn btn-primary navbar-btn">Login</a> 
						{{!-- TODO make the login button show if you're logged in dynamically --}}
						<a href="https://www.reddit.com/r/WritingPrompts/" class="btn btn-primary navbar-btn" target="new">Writing Prompts (Reddit)</a>
					</div>
				</container>
			</header>

			
			{{{ body }}}
		

			<footer class="text-center">
				<h1>&copy; Cheeky Monkey LLC</h1>
			</footer>
		</div> 
	</body>
</html>
