<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Writing Stories Is Fun!</title>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <script src="https://code.jquery.com/jquery.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="/assets/js/clickyLogic.js"></script>
		<link rel="stylesheet" href="/assets/css/style.css">
	</head>
	
	<body>
		<div class='main-wrapper'>
			<header class="text-center">
				<nav class="navbar navbar-default navbar-fixed-top">
					
					<h1>Writing Academy!</h1>
					<div>
							<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
								<ul class="nav navbar-nav navbar-right">
									<li>
										<a href="Write.html">Write</a>
									</li>
									<li>
										<a href="Read.html">Read</a>
									</li>
									<li>
										<a href="Vote.html">Vote</a>
									</li>
								</ul>
					
							</div>
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
						 aria-expanded="false">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<div class="navbar-brand">Options</div>
								
	
					
						

					</div>
			
				</nav>
			</header>

			
			{{{ body }}}
		

			<footer class="text-center">
				<h1>&copy; Cheeky Monkey LLC</h1>
			</footer>
		 
	</body>
</html>
