{{!-- Modal --}}

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title text-danger text-center" id="exampleModalLabel">Error!</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="fa fa-cog fa-spin fa-1x fa-fw"></i>
                    <span aria-hidden="true" class="sr-only"></span>
                </button>
            </div>
            <div class="modal-body">
                <h1 class="text-center">A story needs a name.</h1>
                <h1 class="text-center">A story has a genre.</h1>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-info" data-dismiss="modal">Close</button>                
            </div>
        </div>
    </div>
</div>

<div class="container">

<div class="row">    
    {{!-- <div class="col-sm-2"></div> --}}
    <div class="col-sm-8">
        <div class="page-header">
            <h1>Create A Story</h1>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        {{!-- Create form --}}
        <form class="create-form">
            <div class="column columnCreate">
                {{!-- <div class="col-sm-2"> --}}
                    <div class="form-group">
                        <label for="createStoryTitle" >Story Title Here </label>   
                        <input type="text" id="createStoryTitle" name="name"> 
                    </div>
                    <div class="form-group">
                        <label for="createStoryGenre" >Type Genre Here: </label>   
                        <input type="text" id="createStoryGenre" name="name"> 
                    </div>

                    <div class="form-group">
                        <label for="minimumNumberOfVoters">Minimum Number Of Voters</label>
                        <input type="number" value="1" min="1" max="100" id="minimumNumberOfVoters" name="name">
                    </div>        
                {{!-- </div> --}}
            </div> 

            <div class="column columnCreate">
                {{!-- <div class="col-sm-2"> --}}
                    <div class="form-group">
                        <label for="minimumNumberOfWriters">Minimum Number Of Writers</label>
                        <input type="number" value="1" min="1" max="50" id="minimumNumberOfWriters" name="name">
                    </div>

                    <div class="form-group">
                        <label for="writingTimePeriodInMins">Writing Period In Minutes</label>
                        <input type="number" value="15" min="1" max="20160" id="writingTimePeriodInMins" name="name">
                    </div>
                            
                    <div class="form-group">
                        <label for="votingTimePeriodInMins">Voting Period In Minutes</label>
                        <input type="number" value="15" min="1" max="20160" id="votingTimePeriodInMins" name="name">
                    </div> 
                {{!-- </div> --}}
            </div>
        </div>

        <div class="row">
            <div class="column columnCreate">
                {{!-- <div class="col-sm-4">                --}}
                    <div class="form-group">
                        <h4>Open Writing To The Public</h4>
                            <select data-placeholder="" class="chosen-select" id="openWritingToOthers" >
                                {{!-- <option value= "">Choose One</option> --}}
                                <option value="true">Yes</option>
                                <option value="false">No</option>                        
                            </select>
                    </div>

                    <div class="form-group">
                        <h4>Open Voting To The Public</h4>
                            <select data-placeholder="" class="chosen-select" id="openVotingToOthers">
                                    {{!-- <option value= "">Choose One</option> --}}
                                    <option value="true">Yes</option>
                                    <option value="false">No</option>                        
                            </select>
                    </div>
                {{!-- </div> --}}
            </div>
            
            <div class="column columnCreate">
                {{!-- <div class="col-sm-4"> --}}
                    <div class="form-group">
                        <h4>Publicly Visible</h4>
                            <select data-placeholder="" class="chosen-select" id="visibleToPublic">
                                    {{!-- <option value= "">Choose One</option> --}}
                                    <option value="true">Yes</option>
                                    <option value="false">No</option>                        
                            </select>
                    </div>

                    <div class="form-group">
                        <h4>Activate Schedule for Writing and Voting</h4>
                            <select data-placeholder="" class="chosen-select" id="scheduleActive">
                                {{!-- <option value="">Choose One</option> --}}
                                <option value="true">Yes</option>
                                <option value="false">No</option>
                            </select>
                    </div>
                {{!-- </div> --}}
            </div>
            <div class="column columnCreate">
                {{!-- <div class="col-sm-4"> --}}
                    <div class="form-group">
                        Seed This Story (Enter a writing prompt):<br>
                        <textarea id="seedStory" rows="5" cols="85" id="seedStory" name="name"></textarea>
                    </div>
                {{!-- </div> --}}
            </div>
        </div>
    {{!-- End of row, end of form --}}
        </form>    
    </div>

<div class="row">
    {{!-- <div class="col-sm-1"></div> --}}
    <div class="col-sm-9">
        <button class="btn btn-primary" type="submit" id="createStory" data-toggle="modal" data-target="#exampleModal">Create My Story!</button>
    </div>
</div>

{{!-- End of container for first column --}}
</div>
