
<div class="container">


<div class="row text-center">    
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
        <div class="page-header">
            <h1>Welcome to the Writing Academy</h1>
        </div>
    </div>
</div>

<div class="row text-center" id="spacing">  
      <a href="/createStory"><button id="startHere" class="btn">Click to Create Story</button></a>  
</div>


<div class="row text-center">
  {{!-- <div class="col-sm-1"></div> --}}
  <div class="col-sm-4">
    <div class="column indexColumn">
        <h3>Read!</h3>
            <p>Every day is a good day to read stories, here we are building an ever growing repertoire of stories created by users like you.</p>
    </div>
  </div>

  
  <div class="col-sm-4">
    <div class="column indexColumn">
        <h3>Write!</h3>
            <p>It's fun to read, but sometimes it's nice to let those creative juices flow.  You as an individual can write your own stories one bite at a time.</p>
    </div>
  </div>

  <div class="col-sm-4">
    <div class="column indexColumn">       
        <h3>Vote!</h3>
          <p>Read through suggestions for the next addition to a story, vote on the ones you like!  (Yes, you can vote for multiple lines if you can't decide). </p>
    </div>  
  </div>
</div>
</div>


  
