{{!-- TODO - EVERYONE - we need to determine what our landing page should look like
It would be nice to have an area for announcements (I guess?) - an area for updates to your stories (with clickable links?)
Just spitballing :) --}}

<h1>Title: {{callThisVariableInHandlebarsForEach.dataValues.title}}</h1>
<h3>Story:</h3>    
{{#each callThisVariableInHandlebarsForEach.dataValues.Lines}}
  {{dataValues.lineText}} 
{{/each}}
  
