{{!-- TODO - EVERYONE - we need to determine what our landing page should look like
It would be nice to have an area for announcements (I guess?) - an area for updates to your stories (with clickable links?)
Just spitballing :) --}}
<div class="text-center">
  <h1>Welcome to the Writing Academy!</h1>
  <h1>(let's get a better name, eh?)!</h1>

  <h3>Read!</h3>
  <p>Every day is a good day to read stories, here we are building an ever growing repertoire of stories created by users like you.</p>

  <h3>Write!</h3>
  <p>It's fun to read, but sometimes it's nice to let those creative juices flow.  You as an individual can write your own stories one bite at a time.</p>

  <h3>Vote!</h3>
  <p>Read through suggestions for the next addition to a story, vote on the ones you like!  (Yes, you can vote for multiple lines if you can't decide). </p>


  <h3>Compete!</h3>
  <h4>Collaboratively:</h4>
  <p>You and a group of friends can collaborate on a story.  Two or more people can write their suggestion for the 'next line' of the story (line can mean a few words to a few pages, you decide!).  Once your group has written said next story parts, vote on them!  See which people like and that will be the next part of the story.  </p>
  <h4>Compeditively:</h4>
  <p>Feel like you've got what it takes to make a good writer?  Try your hand against others from around the world writing additional lines for stories and allowing the public to vote on what they think is the best fit.</p>

  <h2>Rinse and repeat until the story is complete!</h2>
</div>