<div class="container">
    <div class="col-sm-6 col-sm-offset-3">
        <hr>

        
        <div class="row">
            <a method="POST" class="fa fa-twitter fa-5x" aria-hidden="true" href="/login/twitter"></a>
            <a method="POST" class="fa fa-facebook fa-5x" aria-hidden="true" href="/auth/facebook"></a>
            <a method="POST" class="fa fa-reddit fa-5x" aria-hidden="true" href="/auth/reddit"></a>
            <a method="POST" class="fa fa-google fa-5x" aria-hidden="true" href="/auth/google"></a>
        </div>
    
        <hr>
        <p>Need an account?
            <a href="/signup">Signup</a>
        </p>
        <p>Or go
            <a href="/">home</a>.</p>
    </div>
</div>