<div class="container">
  <div class="row">
    <div class="col-sm-12 storySpecs">
        <p><h3>Title: {{readStoryObject.dataValues.title}}</h3></p>
        <p><h3>Genre: {{readStoryObject.dataValues.genre}}</h3></p>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 readSpecs">
      <div class="scrollbar" id="style-10">
        <div class="force-overflow">
        {{#each readStoryObject.dataValues.Lines}} {{dataValues.lineText}} {{/each}}        
        </div>
      </div>
    </div>
  </div>
</div>



