html, body {
    height:100%;
    margin:0px;
	padding:0px;
	min-width: 340px;
}

/* * {
    outline: 1px solid red;
} */

.height30 {
	height: 30%
}

.height50 {
	height: 50%
}

.nav {
	background-color:rgb(165, 171, 195);
	height:50px; 
	min-width: 340px;
}

footer {
	background-color:rgb(165, 171, 195);
	height:70px; 
	min-width: 340px;
}

.main-wrapper {
	box-sizing: border-box;
	min-height: 100%;
	position: relative;
	margin:0px;
	padding:0px;
	padding-top:50px;
	padding-bottom: 70px;
}

footer {
    clear: both;
	position: absolute;
	vertical-align: middle;
	margin-bottom: 0;
	bottom:0;
	width: 100%;
}

.smallImg {
	height: 25px;
	width: 25px;
}