html, body {
    height:100%;
    margin:0px;
	padding:0px;
	min-width: 340px;
}

/* * {
    outline: 1px solid red;
} */

.height30 {
	height: 30%
}

.height50 {
	height: 50%
}

.nav {
	background-color:rgb(165, 171, 195);
	height:50px; 
	min-width: 340px;
}

footer {
	background-color:rgb(165, 171, 195);
	height:70px; 
	min-width: 340px;
}

.main-wrapper {
	box-sizing: border-box;
	min-height: 100%;
	position: relative;
	margin:0px;
	padding:0px;
	padding-top:50px;
	padding-bottom: 70px;
}

footer {
    clear: both;
	position: absolute;
	vertical-align: middle;
	margin-bottom: 0;
	bottom:0;
	width: 100%;
}

.smallImg {
	height: 25px;
	width: 25px;
}

#spacing{
	margin-bottom: 20px;
}

.column{
	float:left;
	margin:10px;
	border: solid 1px black;
	padding:20px;
	border-radius: 10px;
}

#startHere{
	padding-left: 35px;
	padding-right:35px;
	padding-top: 15px;
	padding-bottom: 15px;
	/* padding:30px; */
	color: black;
	border: 2px solid green;	
	background: white;
	/* font-weight:bold; */
	font-size: 25px;
}

#startHere:hover {
	background:green;
	color:white;
	
}

.separation{
	border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

#headerStyle{
	margin-left: 10px;
}

#genreStyle{
	margin-right:15px;
}

#genreButton{
	background:#FF5733;
	color:white;
	padding-left:20px;
	padding-right:20px;
}

#genreButton:hover{
	background: #ff8c00;
}

#editButton{
	border: 2px solid #FF5733;	
}

#editButton:hover{
	background: #FF5733;
	border:none;
	color:white;
}

#writeToggle{
	border: 2px solid #337ab7;
	background:white;
	color:black
}

#writeToggle:hover{
	background: #286090;
	border:none;
	color:white;
}

#voteToggle{
	background: #C70039;
	color:white;	
}

.indexColumn{
	border: 1px dashed #C70039;
}

.updateStoryStatus {
	border: 2px solid #449d44;
	background: white;
	color:black;
}

.updateStoryStatus:hover{
	border:none;
}

#genreResultsStyle{
	/* border: 1px dashed #C70039; */
	background: #e5e6e8;
}

#genreBackground{
	background: rgba(199, 0, 57, 0.8)
}