html, body {
    height:100%;
    margin:0px;
	padding:0px;
	min-width: 340px;
}

/* * {
    outline: 1px solid red;
} */

.height30 {
	height: 30%
}

.height50 {
	height: 50%
}

.nav {
	background-color:rgb(165, 171, 195);
	height:50px; 
	min-width: 340px;
}

footer {
	background-color:rgba(199, 0,57, 0.8);
	height:70px; 
	min-width: 340px;
	color:white;
}

.main-wrapper {
	box-sizing: border-box;
	min-height: 100%;
	position: relative;
	margin:0px;
	padding:0px;
	padding-top:50px;
	padding-bottom: 70px;
}

footer {
    clear: both;
	position: absolute;
	vertical-align: middle;
	margin-bottom: 0;
	bottom:0;
	width: 100%;
}

.smallImg {
	height: 25px;
	width: 25px;
}

#spacing{
	margin-bottom: 20px;
}

.column{
	float:left;
	margin:10px;
	border: solid 1px black;
	padding:20px;
	border-radius: 10px;
}

#startHere{
	padding-left: 35px;
	padding-right:35px;
	padding-top: 15px;
	padding-bottom: 15px;
	/* padding:30px; */
	color: black;
	border: 2px solid green;	
	background: white;
	/* font-weight:bold; */
	font-size: 25px;
}

#startHere:hover {
	background:green;
	color:white;
	
}

.separation{
	border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

#headerStyle{
	margin-left: 10px;
}

#genreStyle{
	margin-right:15px;
}

#genreButton{
	background:#FF5733;
	color:white;
	padding-left:20px;
	padding-right:20px;
}

#genreButton:hover{
	background: #ff8c00;
}

#editButton{
	border: 2px solid #FF5733;	
}

#editButton:hover{
	background: #FF5733;
	border:none;
	color:white;
}

#writeToggle{
	border: 2px solid #337ab7;
	background:white;
	color:black
}

#writeToggle:hover{
	background: #286090;
	border:none;
	color:white;
}

#voteToggle{
	background: #C70039;
	color:white;	
}

.indexColumn{
	border: 1px dashed #C70039;
}

.updateStoryStatus {
	border: 2px solid #449d44;
	background: white;
	color:black;
}

.updateStoryStatus:hover{
	border:none;
}

#genreResultsStyle{
	background: white;
	border-radius: 10px;
	border:2px dashed #C70039;
	padding:30px;
	z-index: 1;
	position: absolute;
	opacity: 0.7
}

#booksIllustration{
	width: 100%;
	opacity: 0.4;
	position: relative;
}

#createStory{
	margin-top:20px;	
	border: 2px solid #337ab7;
	background:white;
	color:black
}

#createStory:hover{
	background: #286090;
	border:none;
	color:white;
	padding:20px;
}

.columnCreate{
	border: 1px dashed	#FF7F50;
}

#updateStory{
	margin-top:20px;
	border: 1px solid #FF7F50;
	background: white;
}

#updateStory:hover{
	border:none;
	background:	#FFD700;
	padding:20px;
}

.topBtn:hover{
	background:	#FFD700;
	color:black;
}

#lineSubmission{	
	background: #ff8c00;
	margin-bottom:20px;
	color:black;
}

#lineSubmission:hover{
	background:	#FFD700;
	border: none;
	color:white;
}

.storySpecs{
	border-bottom: 1px orange solid;
}

.readSpecs{
	margin-top:15px;
	border-left: 1px orange dashed;
	border-right: 1px orange dashed;
	border-bottom: 1px orange dashed

}

.scrollbar
{
	margin-right: 5px;
	float: right;
	height: 300px;
	width: 100%;
	background: white;
	overflow-y: scroll;
	margin-bottom: 10px;
}


#style-10::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
	border-radius: 10px;
}

#style-10::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

#style-10::-webkit-scrollbar-thumb
{
	background-color: orange;
	border-radius: 10px;
	background-image: -webkit-linear-gradient(90deg,
	    rgba(0, 0, 0, .2) 25%,
		transparent 25%,
		transparent 50%,
		rgba(0, 0, 0, .2) 50%,
		rgba(0, 0, 0, .2) 75%,
		transparent 75%,
		transparent)
}

.aboutThisStory{
	border-bottom: 3px dashed green;
	margin-bottom: 10px;
}

.seeLinesAccepted{
	border-left:1px dashed green;
	border-right: 1px dashed green;
	border-bottom: 1px dashed green;
	margin-bottom:10px;
}

#style-15::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
	background-color: #F5F5F5;
	border-radius: 10px;
}

#style-15::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

#style-15::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: #FFF;
	background-image: -webkit-gradient(linear,
		40% 0%,
		75% 84%,
		from(#4D9C41),
		to(#19911D),
		color-stop(.6,#54DE5D))
}


.votedLinesContainer{
	margin-bottom:20px;
}

